.html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: white;
    font-size: 30px;
}

#colmar{
    text-decoration: none;
    color: black;
}

.logo{
    padding-right: 1rem;
    padding-left: 0%;
}

.logo img{
    width: 30%;
}


.navbar{
    display: flex;
    z-index: 100;
    position: fixed;
    box-sizing: border-box;
    margin-left: 60%;
    text-decoration: none;
    font-size: 30px;
    margin-top: 13px;
}

#navbar{
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.section{
    padding: 70px 12px 12px 12px;
    display: block;
    margin-right: auto;
    width: 100%;
    display: flex;
    background-color:aliceblue;
}
.section img{
    width: 60%;
    padding: 2%;
}
#text{
    flex-flow: wrap ;
    justify-content: center;
    font-size: 45px;
    line-height: 50px;
    text-align:left;
    color: gray;
    margin: 50px 12px 60px 40px;
}
#text2{
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(78, 75, 75);
    font-size: 28px;
    text-align: center;
    margin-left: 60px;
    box-sizing: 60px;
    width: 100%;
    padding: 12px 50px 12px 50px;
    border-radius: 90%;
}

    
